.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.2rem;
}

.icon {
    margin-bottom: 2rem;
}
ion-title.title-large {
    color: darkorchid;
    font-size: 36px;
    text-align: center;
  }

  .title {
    font-size: 36px;
    text-align: center;
    color: darkorchid;
    font-style:inherit;

  }
