ion-row.word-list {
    background-color: #FFFFFFCC;
    margin: .5rem 0;
    padding: 0 .5rem .5rem;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #000 !important;
}

ion-row.word-list:last-child {
    border: none;
}

.word-list ion-item {
    --background: transparent;
    color: black;
    padding: 0;
    margin: 0 !important;
}

.word-list ion-row {
    margin: 0;
    padding: 0;
}

.word-list ion-text {
    margin: .2rem 0;
}

.green-btn {
    --background: DarkSlateGrey !important;
    --border-radius: 50% !important;
    width: 40px; height: 40px;
}

.green-btn button {
    --box-shadow: none;
}